.product-one .product-left {
    margin-bottom: 1rem;
}

.color-red {
    padding-left: 1rem;
    color: red;
}

.flex_container{
    display: flex;
    justify-content: space-between;
}

.flex_container div:first-child{
    width: 75%;
}